@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Quicksand:wght@300;400&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1920px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 10px 0;
    font-family: 'Ubuntu' , sans-serif ;
    transition: all 0.5s ease;
}
.navbar.sticky{
    padding: 10px 0;
    background: #EEEEEE;
}
.navbar.sticky .menu li a{
    padding: 10px 0;
    color: #585858;
}
.navbar.sticky .logo a{
    color: #585858;
    font-size: 35px;
    font-weight: 600;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #EEEEEE;
    font-size: 35px;
    font-weight: 600;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
    font-family: 'Quicksand' ,sans-serif;
}
.navbar .menu li a{
    color: #EEEEEE;
    font-size: 23px;
    font-weight: 500;
    margin-left: 150px;
    transition: color 0.3s ease;  
}
.navbar .menu li a:hover{
    color: rgb(231, 78, 108);
}
.navbar.sticky .menu li a:hover{
    color: rgb(231, 78, 108);
}
.menubtn{
    position: relative;
    display: none;
    width: 30px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
}
.bars{    
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin: 6px 0px;
    transition: 0.4s;
}
.bars::after,.bars::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin: 6px 0px;
    transition: 0.4s;
}
.bars.sticky,.bars.sticky::after,.bars.sticky::before{
    background-color: #585858;
}
.bars::after{
    transform: translateY(-15px);
}
.bars::before{
    transform: translateY(3px);
}


.home{
    display: flex;
    background: #585858 ;
    color: #EEEEEE;
    height: 100vh;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 70px;
    margin: 5px 0;
}

@media (max-width:1600px) {
    .max-width{
        padding: 0 50px;
    }
    .menubtn{
        display: block;
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #585858;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    
}